@model Paritanssi.ViewModels.ProjectListViewModel
@{
    ViewBag.Title = "Troldemort";
}

<h2>Paritanssi management system</h2>



Lisää uusi projekti:<br />
@using (Html.BeginForm(null, null, FormMethod.Post, new {name = "form", id = "form"})) {
    @Html.EditorFor(m => m.NewProject.Name)
    <input type="submit" value="Tallenna" />
}

<br />
Projektit:<br />

<div class="list-group">

@foreach (var row in Model.Projects) {
    <div class="row">
        <a class="list-group-item col-md-6" href="Task/ViewTasks?id=@row.Id">@row.Name</a><br />
    </div>
}
</div>
